In [1]:
def my_function():
    print('Hello from a function')

In [3]:
print(my_function())

Hello from a function
None

In [5]:
my_function()

Hello from a function

In [11]:
#Arguments

def my_function(fname):
    print('fname'+'choudhary')
    
my_function('Abhi')
my_function('Kabhi')
my_function('Tabhi')

fnamechoudhary
fnamechoudhary
fnamechoudhary

In [7]:
my_function('Abhi')

fnamechoudhary

In [12]:
# function expects 2 arguments and gets 2 arguments

def my_function(fname,lname):
    print(fname +" " + lname)
    
my_function("Abhi","Choudhary")

Abhi Choudhary

In [13]:
# Add * before the parameter for unknown number of parameters/arguments

def my_function(*kids):
    print("The youngest child is" + kids[2])
    
my_function("Abhi","Kabhi","Tabhi")

The youngest child isTabhi

In [15]:
# keyword arguments

def my_function(child1,child2,child3):
    print("The youngest child is", child2)
    
my_function(child1="Abhi",child2="Kabhi",child3="Tabhi")

The youngest child is Kabhi

In [20]:
#Default parameter

def my_function(country='Norway'):                 #deafult parameter/ argument
    print("I am from",country)
    
    
# my_function(Sweden)
# my_function(Bharat)
my_function()
# my_function(Brazil)

I am from Norway

In [21]:
#passing a list as an argument

def my_function(food):
    for x in food:
        print(x)
        
fruits = ["apple","banana","cherry"]

my_function(fruits)

apple
banana
cherry

In [23]:
# Return values

def my_function(x):
    return 5*x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [1]:
#pass statement

def my_function():
    pass

In [5]:
def naam_likh(name):
    
    "naam likh kar dunga, jiska bolega uska"
    
    print("Hello", name)
    
naam_likh("Next")

Hello Next

In [9]:
print(naam_likh.__doc__)

naam likh kar dunga, jiska bolega uska

In [16]:
def sum_do(lst):
    "tum mujhe list do main tumhe sum dunga"
    sum=0
    for num in lst:
        sum=sum+num
    return sum

In [17]:
s=sum_do([1,2,3,4,5])
print(s)

15